*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p{
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.inner{
    font-size: 70px;
    position: absolute;
    z-index: 2;
}

a { color: white; text-decoration: none;}
